/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: black;
  background-color: violet;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto auto auto auto auto 30px;
  grid-gap: 20px;
  animation-name: backgroundTransition;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  font-size: 50px;
  font-family: 'Raleway', sans-serif; }

@keyframes backgroundTransition {
  0% {
    background-color: violet; }
  25% {
    background-color: indigo; }
  50% {
    background-color: blue; }
  75% {
    background-color: green; }
  100% {
    background-color: yellow; } }
h1 {
  text-align: center;
  font-size: 50px; }

.mainHeading p {
  padding: 30px;
  font-size: 40px; }

@keyframes slideshow {
  background: url(""); }
.navBar {
  grid-row: 1/7; }
  .navBar ul {
    height: 400px;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: auto auto auto auto;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10; }
    .navBar ul li {
      margin: 0 auto; }
      .navBar ul li a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 10px 30px;
        background-color: #000;
        border: 1px solid black;
        width: 100px; }

.btn-secondary {
  border: none;
  padding: 10px 10px;
  background-color: #000;
  color: #fff;
  margin-top: 15px;
  border-radius: 0;
  font-size: 20px; }

dropdown-menu a {
  padding: 10px 10px;
  text-align: left;
  margin: 0;
  width: 130px; }

.activityLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px; }
  .activityLinks img {
    max-width: 100%;
    height: auto;
    border-radius: 12px; }
  .activityLinks a {
    text-decoration: none;
    padding: 10px; }
    .activityLinks a figure figcaption {
      text-align: center;
      color: white;
      font-size: 30px; }

.subsection {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 1fr 1fr; }

.subsection figure img {
  width: 80%; }

.subsection figure figcaption {
  padding: 20px 100px 20px 0px;
  font-size: 30px; }

footer {
  color: white;
  background-color: black;
  grid-row: 6/7;
  grid-column: 2/3;
  text-align: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  font-size: 20px; }

@media screen and (min-width: 1600px) {
  body {
    margin-left: 20%;
    margin-right: 20%; } }
@media screen and (min-width: 980px) {
  body {
    margin-left: 10%;
    margin-right: 10%; } }

/*# sourceMappingURL=style.css.map */
